<%- include('./partials/header'); -%>

<%- include('./partials/navigation'); -%>

<div class="container">
    <h1 class="title">All users</h1>
    <ul class="list">

        <% users.forEach(function(user) { %>
            <li class="item">
                <span>id: <%= user.id %>,</span>
                <span>name: <%= user.name %>,</span>
                <span>active: <%= user.id === loggedUser %></span>
            </li>
        <% }); %>

    </ul>
</div>

<%- include('./partials/footer'); -%>